*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 97vh;
  background-color: black;
  color: wheat;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnMenu{
  margin: 100px 0px 0px 0px;
}
button{
  padding: 19px 50px;
  margin:0px 20px 0px 20px;
  border:1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 15px goldenrod;
}
.add{
  background-color: cornflowerblue;
}
.sub{
  background-color: deeppink;
}
.value{
  font-size: 30px;
  font-weight: 700;
}
.heading{
  font-size: 200px;
  text-shadow: 0px 0px 20px goldenrod;
}
.reset{
  margin: 20px 0px 0px 0px;
  background-color:teal;
}

@media only screen and (max-width: 600px) {
  .btnMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sub{
    margin-top: -10px;
  }
  .add{
    margin-top: 20px;
  }
}